#case_studies {
  background: linear-gradient(180deg, rgba(66,130,169,1) 0%, rgba(31,75,112,1) 100%);
  padding-top:100px;
  padding-bottom:100px;
  position: relative;

  .top_line {
    margin-left:-140px;
    position: absolute;
    top:80px;
  }

  .inner_content_wrap {
    max-width: 1380px;
		width: 100%;
		margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

      .mobile_section_title {
        display: none;
        font-family: $font-heading;
        font-size:0.875rem;
        max-width: 730px;
        width:100%;
        font-weight: 700;
        color:white;
        @media only screen and (max-width : 998px) {
          display: block;
        }
      }

      .mobile_case_carousel {
        display: none;

        .case_study_caro {
          max-width:545px;
          width:100%;
          margin-top: 40px;
          margin-bottom: 40px;
          img {
            border-radius: 30px;
          }
          @media only screen and (max-width : 520px) {
              margin-top: 25px;
              margin-bottom: 25px;
          }
        }
        @media only screen and (max-width : 998px) {
          display: block;
        }
        @media only screen and (max-width : 520px) {
           margin-right:-20%;
           max-width:375px;
        }
      }

      .content {
        max-width: 730px;
        width:100%;
        position: relative;

        h3 {
          font-size:2rem;
          font-family: $font-heading;
          max-width:605px;
          margin-bottom:25px;
          color: $secondary;
          @media only screen and (max-width : 520px) {
             font-size:1.375rem;
             line-height: 1.475rem;
          }
        }

        p {
          margin-bottom:25px;
        }

        ul {
          margin:20px 0;
          list-style-type: disc;
          list-style-position: inside;
          li {
            ul {
              margin-left:30px;
            }
          }
        }

        .section_title {
          position: absolute;
          left:-110px;
          top:75px;
          font-family: $font-heading;
          font-size:1.25rem;
          font-weight: 700;
          display: block;
          transform: rotate(-90deg);
          color:white;
          @media only screen and (max-width : 1395px) {
            top:-40px;
            left:0;
            transform: rotate(0deg);
          }
          @media only screen and (max-width : 998px) {
            display: none;
          }
        }
      }


      .casestudies_slider_wrap {
        margin-right:-15%;

          .case_study_caro {
            max-width:545px;
            width:100%;
            margin-right:-15%;
            img {
              border-radius: 30px;
            }
          }

          .bottom_line {
            margin-left: 75px;
            margin-top: 125px;
          }

          @media only screen and (max-width : 1150px) {
            margin-right:-25%;
          }
          @media only screen and (max-width : 998px) {
            display: none;
          }
      }

      // owl controls
      .custom_cscontrol_wrap {
        max-width:150px;
        width:100%;
        margin-bottom:50px;

        .prev, .next {
          width:100%;
          height:50px;
          display: block;
          border:1px solid $secondary;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin:10px 0;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 0.75rem;
          letter-spacing: 1.41px;
          font-family: $font-default;
          font-weight: 700;
          img {
            margin:0 10px;
          }
        }
      }

    @media only screen and (max-width : 998px) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  @media only screen and (max-width : 520px) {
      padding-top: 35px;
      padding-bottom: 35px;
  }
}
