 #case_studies {
  background: linear-gradient(180deg, rgba(66,130,169,1) 0%, rgba(31,75,112,1) 100%);
  padding-top:125px;
  padding-bottom:125px;
  position: relative;

  .casestudies_slider_wrap {
    position: relative;

    .section_title {
      position: absolute;
      top:0;
      font-family: $font-heading;
      font-size:1.25rem;
      font-weight: 700;
      transform: rotate(-90deg);
      color:white;
      height: 155px;
      margin-left: -70px;
      @media only screen and (max-width : 1455px) {
         position: relative;
         height:auto;
         margin-left: 0;
         transform: rotate(0);
      }
      @media only screen and (max-width : 998px) {
        max-width:730px;
        width:100%;
        margin:0 auto;
      }
    }

    .custom_cscontrol_wrap {
      position: absolute;
      right: 100px;
      z-index:5;
      max-width:150px;
      width:100%;
      margin-bottom:50px;
      .prev, .next {
        width:100%;
        height:50px;
        display: block;
        border:1px solid $secondary;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:10px 0;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 1.41px;
        font-family: $font-default;
        font-weight: 700;
        img {
          margin:0 10px;
        }
      }
      @media only screen and (max-width : 998px) {
        display:none;
      }
    }
    .item_wrapper {
      display: flex;
      justify-content: space-between;
      .cs_content_wrap {
        max-width:730px;
        width:100%;
        h3 {
          font-size:2rem;
          font-family: $font-heading;
          max-width:605px;
          margin-bottom:25px;
          color: $secondary;
          @media only screen and (max-width : 520px) {
             font-size:1.375rem;
             line-height: 1.475rem;
          }
        }
        p {
          margin-bottom:25px;
        }
        ul {
          margin:20px 0;
          list-style-type: disc;
          list-style-position: inside;
          li {
            ul {
              margin-left:30px;
            }
          }
        }
      }
      img.mobile_img {
        max-width:400px;
        width:100%;
        align-self: flex-start;
        // margin-top: 160px;
        border-radius: 30px;
        display: none;
        @media only screen and (max-width : 998px) {
          display:block;
          margin:40px auto;
        }
        @media only screen and (max-width : 520px) {
          display:block;
          margin:18px auto;
        }
      }
      img.desktop_img {
        max-width:400px;
        width:100%;
        align-self: flex-start;
        margin-top: 160px;
        border-radius: 30px;
        @media only screen and (max-width : 998px) {
          display:none;
        }
      }
      @media only screen and (max-width : 998px) {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
    }
    margin-right:-100px;
    @media only screen and (max-width : 998px) {
       margin-right:0;
    }
  }

  @media only screen and (max-width : 520px) {
      padding-top: 35px;
      padding-bottom: 35px;
  }
}
