.masthead {
	height: 100vh;

	#particles-js {
		height: 100%;
		background-position: center;
		background-size: cover;
	}

	.masthead-inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.wrap {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		padding-bottom: 8vh;
	}

	.strapline {
		margin-bottom: 45px;
		@media only screen and (max-width : 520px) {
			max-width:200px;
			width:100%;
			margin-bottom: 15px;
		}
	}

	.scroll-arrow {
		position: absolute;
		right: 0;
		bottom: 5vh;
		width: 41px;
		background: url('../images/misc/scroll-arrow.svg') center bottom / 15px 25px no-repeat;
		padding-bottom: 70px;
		animation: scroll-down 4s infinite linear forwards;
		span {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1.4px;
			font-size: 12px;
			display: block;
			transform: rotate(90deg);
		}
		@media only screen and (max-width : 768px) {
			display: none;
		}
	}

	@keyframes scroll-down {
		0 {
			transform: translateY(0px);
		}
		50% {
			transform: translateY(10px);
		}
		100% {
			transform: translateY(0px);
		}
	}

}

.inner_masthead {
	height: 60vh;

	#particles-js {
		height: 100%;
		background-position: center;
		background-size: cover;
	}

	.masthead-inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.wrap {
		height: 60%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		padding-bottom: 8vh;
		h1 {
			font-size: 4rem;
			font-family: $font-heading;
			color: $secondary;
			@media only screen and (max-width : 520px) {
				font-size:2.5rem;
			}
		}
	}

	.strapline {
		margin-bottom: 45px;
		@media only screen and (max-width : 520px) {
			max-width:200px;
			width:100%;
			margin-bottom: 15px;
		}
	}

	.scroll-arrow {
		position: absolute;
		right: 0;
		bottom: 5vh;
		width: 41px;
		background: url('../images/misc/scroll-arrow.svg') center bottom / 15px 25px no-repeat;
		padding-bottom: 70px;
		animation: scroll-down 4s infinite linear forwards;
		span {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1.4px;
			font-size: 12px;
			display: block;
			transform: rotate(90deg);
		}
		@media only screen and (max-width : 768px) {
			display: none;
		}
	}

	@keyframes scroll-down {
		0 {
			transform: translateY(0px);
		}
		50% {
			transform: translateY(10px);
		}
		100% {
			transform: translateY(0px);
		}
	}

}
