nav.desktop {
	ul {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 30px;

		li {
			position: relative;
			margin-left: 30px;
			transition: 500ms all;

			&:hover {
				color: $secondary;
			}
		}
	}
	@media only screen and (max-width : 998px) {
		display: none;
	}
}
