#our_modal {
  padding:40px 15px;
  div {
    overflow: hidden;
  }
  .title_area {
    height:350px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1400px;
    width: 100%;
    margin:0 auto;

    h3 {
      font-size:4.5rem;
      line-height:4.5rem;
      font-family: $font-heading;
      color:$secondary;
      font-weight:700;
      @media only screen and (max-width : 1100px) {
        max-width: 735px;
        width:100%;
        padding-top:40px;
      }
    }

    .title_bg {
      position: absolute;
      left:0;
      z-index:-1;
      @media only screen and (max-width : 520px) {
        margin-left:-180px;
      }
    }

    .opening_content {
      max-width: 735px;
      width:100%;
      p {
        margin-bottom:20px;
        color:$primary;
      }
    }

    @media only screen and (max-width : 1100px) {
      flex-direction: column;
    }
    @media only screen and (max-width : 520px) {
      margin-bottom:25px;
    }
  }

  .modal_caro_wrap {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px 0;

    .modal_slider_wrap {
      max-width:1000px;
      width:100%;
      position: relative;
      overflow: visible;

      .custom_modcontrol_wrap {
        .nextmod {
          background: transparent;
          border:1px solid $secondary;
          border-radius: 25px;
          color:$primary;
          text-transform: uppercase;
          font-family: $font-default;
          font-size:0.75rem;
          position: absolute;
          right:-40px;
          top:50%;
          z-index:20;
          height:50px;
          width:145px;
          padding:0 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          @media only screen and (max-width : 1100px) {
            right:40px;
          }
          @media only screen and (max-width : 935px) {
            display: none;
          }
        }
        .prevmod {
          background: transparent;
          border:1px solid $secondary;
          border-radius: 25px;
          color:$primary;
          text-transform: uppercase;
          font-family: $font-default;
          font-size:0.75rem;
          position: absolute;
          left:-40px;
          top:50%;
          z-index:20;
          height:50px;
          width:145px;
          padding:0 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          @media only screen and (max-width : 1100px) {
            left:40px;
          }
          @media only screen and (max-width : 935px) {
            display: none;
          }
        }
      }

      .our_mod_caro {
        width:100%;
        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          .sidearea_left {
            background: white;
            opacity: 0.5;
            width:240px;
            height:415px;
            border-radius: 20px;
            margin-right:-50px;
            @media only screen and (max-width : 935px) {
              display: none;
            }
          }
          .content_main {
            background-color: white;
            color:black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
            position: relative;
            text-align: center;
            z-index:10;
            max-width:545px;
            width:100%;
            height:510px;
            border-radius: 20px;
            .content {
              max-width:430px;
              width:100%;
              .currentnum {
                font-size: 4.5rem;
                line-height: 4.5rem;
                font-family: $font-heading;
                color:$secondary;
                text-shadow: 4px 3px 0px #fff, 6px 5px 0px $secondary;
              }
              h5 {
                font-size:2rem;
                line-height: 2rem;
                margin:20px 0;
                font-family: $font-heading;
                color: $primary;
                @media only screen and (max-width : 520px) {
                  font-size: 22px;
                  line-height: 22px;
                }
              }
              p {
                color:$primary;
                font-size:1rem;
                line-height:1.75rem;
                @media only screen and (max-width : 520px) {
                  font-size:14px;
                  line-height:24px;
                }
              }
              @media only screen and (max-width : 520px) {
                padding:0 15px;
              }
            }
          }
          .sidearea_right {
            background: white;
            opacity: 0.5;
            width:240px;
            height:415px;
            border-radius: 20px;
            margin-left:-50px;
            @media only screen and (max-width : 935px) {
              display: none;
            }
          }
        }
        @media only screen and (max-width : 520px) {

        }
      }

      .owl-dots {
        .owl-dot {
          span {
            background: $primary;
          }
        }
        .active {
          span {
              background: $secondary !important;
          }
        }
      }
    }
    @media only screen and (max-width : 520px) {
      padding:100px 15px;
    }
  }
}
