.overview {
	position: relative;
	padding: 180px 0;
	// overflow: hidden;

	.wrap {
		display: flex;
		justify-content: space-between;

		.title {
			margin-right: 130px;
			max-width:410px;
			width:100%;
			.strapline {
				width:100%;
			}
			@media only screen and (max-width : 1295px) {
				margin-right:50px;
				margin-bottom:20px;
			}
			@media only screen and (max-width : 520px) {
				max-width:205px;
				margin-bottom:25px;
			}
		}

		.overview-content {
			max-width:735px;
			width:100%;
		}

		.overview_copy {
			p {
				margin-bottom: 15px;
				font-size: 22px;
				line-height: 32px;
				margin-bottom: 35px;
				@media only screen and (max-width : 520px) {
					font-size:18px;
					line-height: 28px;
					margin-bottom: 25px;
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

	  h4 {
			color: $secondary;
			font-weight: 700;
			text-transform: uppercase;
			font-family: $font_heading;
			margin:25px 0;
		}
		p {
			@media only screen and (max-width : 520px) {
				font-size:14px;
				line-height: 24px;
			}
		}


		@media only screen and (max-width : 998px) {
			flex-direction: column;
			align-items: center;
		}
		@media only screen and (max-width : 768px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.lower-slash {
		position: absolute;
		bottom: -405px;
		right: -400px;
		z-index: 40;
		@media only screen and (max-width : 1298px) {
			display: none;
		}
	}
	@media only screen and (max-width : 1295px) {
		padding:75px 0;
	}
}
