#services {
	padding: 0 0 60px 0;
	position: relative;

	.left_arrw {
		position: absolute;
		left:-350px;
		top:-425px;
		@media only screen and (max-width : 1720px) {
			left:-450px;
		}
		@media only screen and (max-width : 1530px) {
			left:-450px;

		}
		@media only screen and (max-width : 998px) {
			display: none;
		}
	}

	.wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.service_title {
			padding:0 0 70px 0;
			@media only screen and (max-width : 520px) {
				max-width:300px;
				height:160px;
			}
		}
		@media only screen and (max-width : 998px) {
			justify-content: center;
		}
		@media only screen and (max-width : 550px) {
			justify-content: flex-start;
		}
	}

	.btn {
		margin: 0 auto;
	}

	.col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: calc(50% - 15px);
		@media only screen and (max-width : 998px) {
			max-width:735px;
			width:100%;
		}
	}

	.service {
		border-radius: 25px;
		border: 1px solid #68C3CD;
		margin-bottom: 70px;
		padding: 40px;

		.service-header {
			display: flex;
			margin-bottom: 35px;
			align-items: center;

			.icon {
				display: block;
				height: 65px;
				width: 71px;
				margin-right: 20px;
			}

			h3 {
				font-family: $font-heading;
				font-size: 32px;
				line-height: 32px;
				font-weight: bold;
				color: $secondary;
				max-width: 350px;
				@media only screen and (max-width : 520px) {
					font-size:1rem;
					line-height: 1rem;
				}
			}
			@media only screen and (max-width : 520px) {
				margin-bottom: 20px;
			}
		}

		ul {
			li {
				padding-left: 10px;
				list-style-image: url('../images/misc/list-icon.svg');
				margin-bottom: 15px;
				font-size: 14px;

				&:last-of-type {
					margin: 0;
				}
				@media only screen and (max-width : 520px) {
					font-size: 12px;
					margin-bottom:7.5px;
				}
			}
		}
		@media only screen and (max-width : 520px) {
			margin-bottom:40px;
		}
	}
}
