#steps {
	position: relative;
	padding: 200px 0;
	color: $primary;
	overflow: hidden;

	.wrap {
		display: flex;
		justify-content: center;
		.title {
			margin-right:120px;
			@media only screen and (max-width : 1120px) {
				margin-right: 60px;
			}
			@media only screen and (max-width : 998px) {
				margin-bottom:25px;
			}
		}
		.steps-content {
			max-width:740px;
			width:100%;
			p {
				margin-bottom: 25px;

				&:first-of-type {
					font-size: 22px;
					line-height: 32px;
					margin-bottom: 35px;
					@media only screen and (max-width : 520px) {
						font-size:1.125rem;
						line-height: 1.75rem;
						margin-bottom:25px;
					}
				}
				@media only screen and (max-width : 520px) {
					font-size:0.875rem;
					line-height: 1.5rem;
				}
			}
		}
		@media only screen and (max-width : 998px) {
			flex-direction: column;
			align-items: center;
		}
		@media only screen and (max-width : 768px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.about_cnt_mrg {
		margin-bottom:175px;
		@media only screen and (max-width : 520px) {
			margin-bottom:0;
		}
	}

	.scroll-arrow {
		display: block;
		height: 41px;
		width: 15px;
		background: url('../images/misc/scroll-arrow-green.svg') center bottom / contain;
		animation: scroll-down 4s infinite linear forwards;
	}


	// F U G O 4 steps
	.steps-inner {
		display: flex;
		flex-wrap: wrap;
		max-width: 1120px;
		width: 100%;
		margin: 0 auto;
		padding-top:100px;

		.step_left {
			display: flex;
			justify-content: flex-start;
			width:100%;
			.step-inner {

				.step_img_f {
					position: absolute;
					top:-120px;
					left:-125px;
					z-index:2;
					@media only screen and (max-width : 1200px) {
						left:0;
					  top:-200px;
					}
					@media only screen and (max-width : 520px) {
						position: relative;
						top:0;
						margin-bottom:30px;
					}
				}
				.step_img {
					position: absolute;
					top:-200px;
					left:-125px;
					z-index:2;
					@media only screen and (max-width : 1200px) {
						left:0;
					}
					@media only screen and (max-width : 520px) {
						position: relative;
						top:0;
						margin-bottom:30px;
					}
				}

				@media only screen and (max-width : 520px) {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
				}
			}
		}

		.step_right {
			display: flex;
			justify-content: flex-end;
			width:100%;
			.step-inner {
				display: flex;
				justify-content: flex-end;

				.step_img {
					position: absolute;
					top:-200px;
					left:65px;
					z-index:2;
					@media only screen and (max-width : 1200px) {
						left:0;
					}
					@media only screen and (max-width : 520px) {
						position: relative;
						top:0;
						margin-bottom:30px;
					}
				}

				@media only screen and (max-width : 520px) {
					flex-direction: column;
					align-items: flex-start;
				}
			}
		}

		.step-inner {
			max-width:625px;
			width: 100%;
			position: relative;

				.step_content {
					position: relative;
					z-index:5;
					max-width:450px;
					width:100%;
					h4 {
						font-family: $font-heading;
						font-size: 32px;
						color: $primary;
						font-weight: 400;
						@media only screen and (max-width : 520px) {
							font-size:1.375rem;
							line-height: 1.375rem;
						}
					}
					p {
						font-size: 1rem;
						@media only screen and (max-width : 520px) {
							font-size:0.875rem;
							line-height: 1.5rem;
						}
					}
				}

			}

	    .line_hold {
				width:520px;
				display: flex;
				justify-content: flex-end;
				margin:40px 0;
				@media only screen and (max-width : 998px) {
					height:140px;
					.sep_line {
						display: none;
					}
				}
				@media only screen and (max-width : 520px) {
					height:5px;
					margin:20px 0;
				}
			}

		@media only screen and (max-width : 1200px) {
			padding-left:15px;
			padding-right: 15px;
		}
		@media only screen and (max-width : 520px) {
			padding-top:25px;
		}
	}
	@media only screen and (max-width : 998px) {
			padding:75px 0;
	}
}
