#contact_us {
  min-height:70vh;
  display: flex;
  align-items: center;

  	#particles-js2 {
      height: 100%;
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 0;
      bottom: 0;
  	}

    .cfinfo-inner {
      width: 100%;
      height: 100%;
      padding-top: 75px;
      padding-bottom: 75px;
      position: relative;
      z-index: 10;
      .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:100%;
        .contact_title {
          @media only screen and (max-width : 520px) {
            max-width:260px;
          }
        }
        .contact_info {
          max-width:460px;
          width:100%;
          font-family: $font-default;
          p {
            margin-bottom:25px;
          }
          .contact_deets {
            margin-bottom: 25px;
          }
          .social_icons {
            display: flex;
            .icon_wrap {
              border:1px solid $secondary;
              color:$secondary;
              font-size:22px;
              height:50px;
              width:50px;
              border-radius: 50%;
              margin-right: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          @media only screen and (max-width : 998px) {
            max-width:520px;
            margin-bottom:40px;
          }
        }
        .contact_formm {
            max-width:520px;
            width:100%;
        }
        @media only screen and (max-width : 998px) {
          flex-direction: column;
          justify-content: center;
        }
      }
    }
}
