/* Partials
================================================ */
@import url("https://fonts.googleapis.com/css?family=Bungee");
@import url("https://use.typekit.net/ica8fcf.css");
* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Font stacks
================================================ */
/* Base Typography
================================================ */
body {
  font-family: "europa", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #FFF; }

ul {
  font-family: "europa", sans-serif; }

/* Links
================================================ */
a, a:visited {
  color: inherit;
  text-decoration: none; }

/* Font Face Imports
================================================ */
/*  @font-face {
		font-family: 'Font Name';
		src: url('assets/fonts/font-name.eot');
		src: url('assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
			   url('assets/fonts/font-name.woff') format('woff'),
			   url('assets/fonts/font-name.ttf') format('truetype'),
			   url('assets/fonts/font-name.svg#font-name') format('svg');
		font-weight: normal;
		font-style: normal;
	}
  */
/******************************************************************
Site Name:
Author:

Stylesheet: Sass Functions

You can do a lot of really cool things in Sass. Functions help you
make repeated actions a lot easier. They are really similar to mixins,
but can be used for so much more.

Anyway, keep them all in here so it's easier to find when you're
looking for one.

For more info on functions, go here:
http://sass-lang.com/documentation/Sass/Script/Functions.html

******************************************************************/
/*********************
COLOR FUNCTIONS
These are helpful when you're working
with shadows and such things. It's essentially
a quicker way to write RGBA.

Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/*********************
RESPONSIVE HELPER FUNCTION
If you're creating a responsive site, then
you've probably already read
Responsive Web Design: http://www.abookapart.com/products/responsive-web-design

Here's a nice little helper function for calculating
target / context
as mentioned in that book.

Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
.blue_bg {
  background: linear-gradient(180deg, #4282a9 0%, #1f4b70 100%);
  position: relative; }

.page_bg {
  background: linear-gradient(180deg, #4282a9 0%, #1f4b70 100%); }

img.alignright, img.alignleft, img.aligncenter, img.alignnone {
  display: block;
  max-width: 100%;
  height: auto; }

img.alignright {
  margin: 1em 0; }

img.alignleft {
  margin: 1em 0; }

img.alignnone {
  margin: 1em 0; }

img.aligncenter {
  display: block;
  margin: 1em; }

a img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 768px) {
  img.alignright {
    float: right;
    margin: 0 0 1em 1em; }
  img.alignleft {
    float: left;
    margin: 0 1em 1em 0; }
  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  a img.alignright {
    float: right;
    margin: 0 0 1em 1em; }
  a img.alignleft {
    float: left;
    margin: 0 1em 1em 0; }
  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .section {
    padding: 65px 0; } }

.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
  background: #68C3CD;
  border-radius: 25px;
  transition: 500ms all;
  border: 2px solid #68C3CD;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 0 25px; }
  .btn:hover {
    background: none;
    border: 2px solid #68C3CD; }
  .btn.transparent {
    background: none;
    border-color: #FFF; }
    .btn.transparent:hover {
      background: #68C3CD;
      border-color: #68C3CD; }

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 textarea {
  background-color: #fff;
  color: #000;
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  padding: 15px 10px;
  border: 0;
  -webkit-appearance: none; }

.wpcf7 textarea {
  height: 100px; }

.submit_cf7 {
  background-color: #68C3CD;
  width: 145px;
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0;
  border-radius: 25px;
  color: white;
  font-family: "europa", sans-serif;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  -webkit-appearance: none; }
  @media only screen and (max-width: 520px) {
    .submit_cf7 {
      width: 100%; } }

.button_container {
  position: fixed;
  display: none;
  width: 40px;
  cursor: pointer;
  transition: opacity .25s ease;
  right: 40px;
  top: 35px;
  z-index: 505;
  font-weight: 700;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transform: 0.5s all;
  -o-transform: 0.5s all; }
  .button_container:hover {
    color: #68C3CD; }
  .button_container.active span:before {
    content: '';
    visibility: hidden;
    opacity: 0; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: red; }
  .button_container.active .middle {
    opacity: 0;
    left: -50px;
    background: red; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: red; }
  .button_container.active:before {
    content: '';
    display: none; }
  .button_container span {
    background: red;
    border: none;
    height: 4px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:before {
      content: '';
      height: 4px;
      width: 4px;
      background: red;
      z-index: 99;
      position: absolute;
      left: -8px;
      visibility: visible;
      opacity: 1; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }
  @media screen and (max-width: 998px) {
    .button_container {
      display: block; } }

.top_pos_chng {
  top: 25px; }

#mob_overlay {
  width: 100%;
  background-color: #1F4B70;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 90;
  right: 0;
  padding: 50px 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  transition: all .65s ease;
  z-index: 500; }
  #mob_overlay.hamburger_open {
    opacity: 1;
    visibility: visible;
    right: 0;
    width: 100%; }
  #mob_overlay .mob_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    #mob_overlay .mob_content .logo {
      height: 65px;
      width: 145px;
      background: url("../images/misc/logo.svg") center/contain no-repeat;
      text-indent: -999999px;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transform: 0.5s all;
      -o-transform: 0.5s all;
      margin-bottom: 30px; }
    #mob_overlay .mob_content nav {
      max-width: 210px;
      width: 100%;
      text-align: center; }
      #mob_overlay .mob_content nav li {
        margin-bottom: 20px; }
  #mob_overlay #menu-header-menu-1 {
    text-align: center;
    margin-top: 120px; }
    #mob_overlay #menu-header-menu-1 li {
      color: white;
      font-weight: 700;
      font-size: 1.4rem;
      padding: 8px 0 4px 0; }
      #mob_overlay #menu-header-menu-1 li .sub-menu li {
        font-size: 1rem;
        font-weight: 400; }
    @media screen and (max-width: 998px) {
      #mob_overlay #menu-header-menu-1 {
        margin-top: 100px; } }
    @media screen and (max-width: 768px) {
      #mob_overlay #menu-header-menu-1 {
        margin-top: 80px; } }
  @media screen and (min-width: 998px) {
    #mob_overlay {
      display: none; } }

span.wpcf7-not-valid-tip {
  display: block;
  right: 0;
  color: red;
  background-color: inherit;
  text-align: right;
  border: 0;
  margin-top: -58px;
  padding: 15px;
  font-weight: 400;
  font-family: "europa", sans-serif;
  font-size: 15px;
  width: 200px;
  float: right;
  z-index: 2;
  position: relative; }

/* Third Party Payload
================================================ */
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.6.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }

.bounce {
  animation-name: bounce;
  transform-origin: center bottom; }

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1; }
  25%,
  75% {
    opacity: 0; } }

.flash {
  animation-name: flash; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

.pulse {
  animation-name: pulse; }

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

.rubberBand {
  animation-name: rubberBand; }

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0); }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0); } }

.shake {
  animation-name: shake; }

@keyframes headShake {
  0% {
    transform: translateX(0); }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg); }
  18.5% {
    transform: translateX(5px) rotateY(7deg); }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg); }
  43.5% {
    transform: translateX(2px) rotateY(3deg); }
  50% {
    transform: translateX(0); } }

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake; }

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    transform: rotate3d(0, 0, 1, 0deg); } }

.swing {
  transform-origin: top center;
  animation-name: swing; }

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }

.tada {
  animation-name: tada; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0); }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to {
    transform: translate3d(0, 0, 0); } }

.wobble {
  animation-name: wobble; }

@keyframes jello {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0); }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg); }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg); } }

.jello {
  animation-name: jello;
  transform-origin: center; }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  animation-duration: 0.75s;
  animation-name: bounceIn; }

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

.bounceInDown {
  animation-name: bounceInDown; }

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

.bounceInLeft {
  animation-name: bounceInLeft; }

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

.bounceInRight {
  animation-name: bounceInRight; }

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

.bounceInUp {
  animation-name: bounceInUp; }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }

.bounceOut {
  animation-duration: 0.75s;
  animation-name: bounceOut; }

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.bounceOutDown {
  animation-name: bounceOutDown; }

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

.bounceOutLeft {
  animation-name: bounceOutLeft; }

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

.bounceOutRight {
  animation-name: bounceOutRight; }

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

.bounceOutUp {
  animation-name: bounceOutUp; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.fadeInDownBig {
  animation-name: fadeInDownBig; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.fadeInLeft {
  animation-name: fadeInLeft; }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.fadeInLeftBig {
  animation-name: fadeInLeftBig; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.fadeInRight {
  animation-name: fadeInRight; }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.fadeInRightBig {
  animation-name: fadeInRightBig; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.fadeInUpBig {
  animation-name: fadeInUpBig; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }

.fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.fadeOutDownBig {
  animation-name: fadeOutDownBig; }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft {
  animation-name: fadeOutLeft; }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig; }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }

.fadeOutRight {
  animation-name: fadeOutRight; }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

.fadeOutRightBig {
  animation-name: fadeOutRightBig; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  animation-name: fadeOutUp; }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

.fadeOutUpBig {
  animation-name: fadeOutUpBig; }

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in; } }

.animated.flip {
  backface-visibility: visible;
  animation-name: flip; }

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX; }

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    transform: perspective(400px); } }

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY; }

@keyframes flipOutX {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.flipOutX {
  animation-duration: 0.75s;
  animation-name: flipOutX;
  backface-visibility: visible !important; }

@keyframes flipOutY {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }

.flipOutY {
  animation-duration: 0.75s;
  backface-visibility: visible !important;
  animation-name: flipOutY; }

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out; }

@keyframes lightSpeedOut {
  from {
    opacity: 1; }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in; }

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.rotateIn {
  animation-name: rotateIn; }

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.rotateInDownLeft {
  animation-name: rotateInDownLeft; }

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.rotateInDownRight {
  animation-name: rotateInDownRight; }

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.rotateInUpLeft {
  animation-name: rotateInUpLeft; }

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.rotateInUpRight {
  animation-name: rotateInUpRight; }

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1; }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }

.rotateOut {
  animation-name: rotateOut; }

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; } }

.rotateOutDownLeft {
  animation-name: rotateOutDownLeft; }

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }

.rotateOutDownRight {
  animation-name: rotateOutDownRight; }

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft; }

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }

.rotateOutUpRight {
  animation-name: rotateOutUpRight; }

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0; } }

.hinge {
  animation-duration: 2s;
  animation-name: hinge; }

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom; }
  50% {
    transform: rotate(-10deg); }
  70% {
    transform: rotate(3deg); }
  to {
    opacity: 1;
    transform: scale(1); } }

.jackInTheBox {
  animation-name: jackInTheBox; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.rollIn {
  animation-name: rollIn; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg); } }

.rollOut {
  animation-name: rollOut; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  animation-name: zoomIn; }

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInDown {
  animation-name: zoomInDown; }

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInLeft {
  animation-name: zoomInLeft; }

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInRight {
  animation-name: zoomInRight; }

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInUp {
  animation-name: zoomInUp; }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.zoomOut {
  animation-name: zoomOut; }

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomOutDown {
  animation-name: zoomOutDown; }

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center; } }

.zoomOutLeft {
  animation-name: zoomOutLeft; }

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center; } }

.zoomOutRight {
  animation-name: zoomOutRight; }

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomOutUp {
  animation-name: zoomOutUp; }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInDown {
  animation-name: slideInDown; }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInLeft {
  animation-name: slideInLeft; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInRight {
  animation-name: slideInRight; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  animation-name: slideInUp; }

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0); } }

.slideOutDown {
  animation-name: slideOutDown; }

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0); } }

.slideOutLeft {
  animation-name: slideOutLeft; }

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0); } }

.slideOutRight {
  animation-name: slideOutRight; }

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0); } }

.slideOutUp {
  animation-name: slideOutUp; }

@keyframes scroll-down {
  0 {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

.owl-theme .owl-controls .owl-page {
  display: inline-block; }

.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

.owl-theme .owl-controls .owl-page {
  display: inline-block; }

.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px; }

/* Layou Payload
================================================ */
body {
  overflow-x: hidden;
  background-color: #F3F3F3; }

.noscroller {
  overflow: hidden; }

.wrap {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

*:focus {
  outline: none !important; }

.title {
  position: relative; }
  .title .slash-inner {
    fill: none;
    stroke: #68C3CD;
    stroke-miterlimit: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    will-change: stroke;
    animation: dash 5s linear forwards; }
  .title .text-path {
    stroke: #68C3CD;
    stroke-miterlimit: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
    will-change: stroke; }
  .title .slash {
    top: -290px;
    left: -350px;
    position: absolute; }

#content .wrap {
  padding-top: 60px;
  padding-bottom: 60px; }
  #content .wrap p {
    color: #1F4B70;
    margin-bottom: 25px; }

#header_bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 45px 0 0 0;
  transform: translate3d(0, 0, 0);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transform: 0.5s all;
  -o-transform: 0.5s all; }
  #header_bar .logo {
    height: 65px;
    width: 145px;
    background: url("../images/misc/logo.svg") center/contain no-repeat;
    display: block;
    text-indent: -999999px;
    margin-right: auto;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transform: 0.5s all;
    -o-transform: 0.5s all; }
  #header_bar .wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
  @media screen and (max-width: 520px) {
    #header_bar {
      padding: 15px 0 0 0; } }

.collapse_inn {
  background-color: #1F4B70;
  padding: 0 !important;
  height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  .collapse_inn .logo {
    height: 45px !important;
    width: 105px !important;
    background: url("../images/misc/logo.svg") center/contain no-repeat;
    display: block;
    text-indent: -999999px;
    margin-right: auto; }

.footer {
  background: #1F4B70;
  color: white;
  font-size: 0.75rem;
  padding: 15px 0;
  color: #112B41; }

#pdf_downloader {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: #68C3CD;
  max-width: 280px;
  width: 100%;
  height: 150px;
  border-radius: 25px;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transform: 0.5s all;
  -o-transform: 0.5s all;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px;
  font-family: "europa", sans-serif; }
  #pdf_downloader p {
    font-size: 1rem; }
    @media screen and (max-width: 520px) {
      #pdf_downloader p {
        font-size: 14px; } }
  #pdf_downloader .pdf_close_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
    #pdf_downloader .pdf_close_icon .fas {
      font-size: 1.125rem; }
    @media screen and (max-width: 520px) {
      #pdf_downloader .pdf_close_icon {
        top: 16px;
        right: 16px; } }
  #pdf_downloader .pdf_btn {
    border: 1px solid white;
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 0.9125rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transform: 0.5s all;
    -o-transform: 0.5s all; }
    @media screen and (max-width: 520px) {
      #pdf_downloader .pdf_btn {
        font-size: 14px;
        letter-spacing: 2px; } }
    #pdf_downloader .pdf_btn:hover {
      background-color: #1F4B70; }
  @media screen and (max-width: 520px) {
    #pdf_downloader {
      right: 8px;
      bottom: 8px;
      max-width: 260px;
      height: 140px; } }

.pdf_vis {
  visibility: visible !important;
  opacity: 1 !important; }

.pdf_hider {
  display: none !important; }

/* Components Payload
================================================ */
.masthead {
  height: 100vh; }
  .masthead #particles-js {
    height: 100%;
    background-position: center;
    background-size: cover; }
  .masthead .masthead-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .masthead .wrap {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 8vh; }
  .masthead .strapline {
    margin-bottom: 45px; }
    @media only screen and (max-width: 520px) {
      .masthead .strapline {
        max-width: 200px;
        width: 100%;
        margin-bottom: 15px; } }
  .masthead .scroll-arrow {
    position: absolute;
    right: 0;
    bottom: 5vh;
    width: 41px;
    background: url("../images/misc/scroll-arrow.svg") center bottom/15px 25px no-repeat;
    padding-bottom: 70px;
    animation: scroll-down 4s infinite linear forwards; }
    .masthead .scroll-arrow span {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1.4px;
      font-size: 12px;
      display: block;
      transform: rotate(90deg); }
    @media only screen and (max-width: 768px) {
      .masthead .scroll-arrow {
        display: none; } }

@keyframes scroll-down {
  0 {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

.inner_masthead {
  height: 60vh; }
  .inner_masthead #particles-js {
    height: 100%;
    background-position: center;
    background-size: cover; }
  .inner_masthead .masthead-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .inner_masthead .wrap {
    height: 60%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 8vh; }
    .inner_masthead .wrap h1 {
      font-size: 4rem;
      font-family: "Bungee", cursive;
      color: #68C3CD; }
      @media only screen and (max-width: 520px) {
        .inner_masthead .wrap h1 {
          font-size: 2.5rem; } }
  .inner_masthead .strapline {
    margin-bottom: 45px; }
    @media only screen and (max-width: 520px) {
      .inner_masthead .strapline {
        max-width: 200px;
        width: 100%;
        margin-bottom: 15px; } }
  .inner_masthead .scroll-arrow {
    position: absolute;
    right: 0;
    bottom: 5vh;
    width: 41px;
    background: url("../images/misc/scroll-arrow.svg") center bottom/15px 25px no-repeat;
    padding-bottom: 70px;
    animation: scroll-down 4s infinite linear forwards; }
    .inner_masthead .scroll-arrow span {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1.4px;
      font-size: 12px;
      display: block;
      transform: rotate(90deg); }
    @media only screen and (max-width: 768px) {
      .inner_masthead .scroll-arrow {
        display: none; } }

@keyframes scroll-down {
  0 {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

nav.desktop ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px; }
  nav.desktop ul li {
    position: relative;
    margin-left: 30px;
    transition: 500ms all; }
    nav.desktop ul li:hover {
      color: #68C3CD; }

@media only screen and (max-width: 998px) {
  nav.desktop {
    display: none; } }

.overview {
  position: relative;
  padding: 180px 0; }
  .overview .wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .overview .wrap .title {
      margin-right: 130px;
      max-width: 410px;
      width: 100%; }
      .overview .wrap .title .strapline {
        width: 100%; }
      @media only screen and (max-width: 1295px) {
        .overview .wrap .title {
          margin-right: 50px;
          margin-bottom: 20px; } }
      @media only screen and (max-width: 520px) {
        .overview .wrap .title {
          max-width: 205px;
          margin-bottom: 25px; } }
    .overview .wrap .overview-content {
      max-width: 735px;
      width: 100%; }
    .overview .wrap .overview_copy p {
      margin-bottom: 15px;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 35px; }
      @media only screen and (max-width: 520px) {
        .overview .wrap .overview_copy p {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 25px; } }
      .overview .wrap .overview_copy p:last-of-type {
        margin-bottom: 0; }
    .overview .wrap h4 {
      color: #68C3CD;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Bungee", cursive;
      margin: 25px 0; }
    @media only screen and (max-width: 520px) {
      .overview .wrap p {
        font-size: 14px;
        line-height: 24px; } }
    @media only screen and (max-width: 998px) {
      .overview .wrap {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center; } }
    @media only screen and (max-width: 768px) {
      .overview .wrap {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start; } }
  .overview .lower-slash {
    position: absolute;
    bottom: -405px;
    right: -400px;
    z-index: 40; }
    @media only screen and (max-width: 1298px) {
      .overview .lower-slash {
        display: none; } }
  @media only screen and (max-width: 1295px) {
    .overview {
      padding: 75px 0; } }

#services {
  padding: 0 0 60px 0;
  position: relative; }
  #services .left_arrw {
    position: absolute;
    left: -350px;
    top: -425px; }
    @media only screen and (max-width: 1720px) {
      #services .left_arrw {
        left: -450px; } }
    @media only screen and (max-width: 1530px) {
      #services .left_arrw {
        left: -450px; } }
    @media only screen and (max-width: 998px) {
      #services .left_arrw {
        display: none; } }
  #services .wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #services .wrap .service_title {
      padding: 0 0 70px 0; }
      @media only screen and (max-width: 520px) {
        #services .wrap .service_title {
          max-width: 300px;
          height: 160px; } }
    @media only screen and (max-width: 998px) {
      #services .wrap {
        -ms-flex-pack: center;
        justify-content: center; } }
    @media only screen and (max-width: 550px) {
      #services .wrap {
        -ms-flex-pack: start;
        justify-content: flex-start; } }
  #services .btn {
    margin: 0 auto; }
  #services .col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc(50% - 15px); }
    @media only screen and (max-width: 998px) {
      #services .col {
        max-width: 735px;
        width: 100%; } }
  #services .service {
    border-radius: 25px;
    border: 1px solid #68C3CD;
    margin-bottom: 70px;
    padding: 40px; }
    #services .service .service-header {
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 35px;
      -ms-flex-align: center;
      align-items: center; }
      #services .service .service-header .icon {
        display: block;
        height: 65px;
        width: 71px;
        margin-right: 20px; }
      #services .service .service-header h3 {
        font-family: "Bungee", cursive;
        font-size: 32px;
        line-height: 32px;
        font-weight: bold;
        color: #68C3CD;
        max-width: 350px; }
        @media only screen and (max-width: 520px) {
          #services .service .service-header h3 {
            font-size: 1rem;
            line-height: 1rem; } }
      @media only screen and (max-width: 520px) {
        #services .service .service-header {
          margin-bottom: 20px; } }
    #services .service ul li {
      padding-left: 10px;
      list-style-image: url("../images/misc/list-icon.svg");
      margin-bottom: 15px;
      font-size: 14px; }
      #services .service ul li:last-of-type {
        margin: 0; }
      @media only screen and (max-width: 520px) {
        #services .service ul li {
          font-size: 12px;
          margin-bottom: 7.5px; } }
    @media only screen and (max-width: 520px) {
      #services .service {
        margin-bottom: 40px; } }

#steps {
  position: relative;
  padding: 200px 0;
  color: #1F4B70;
  overflow: hidden; }
  #steps .wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center; }
    #steps .wrap .title {
      margin-right: 120px; }
      @media only screen and (max-width: 1120px) {
        #steps .wrap .title {
          margin-right: 60px; } }
      @media only screen and (max-width: 998px) {
        #steps .wrap .title {
          margin-bottom: 25px; } }
    #steps .wrap .steps-content {
      max-width: 740px;
      width: 100%; }
      #steps .wrap .steps-content p {
        margin-bottom: 25px; }
        #steps .wrap .steps-content p:first-of-type {
          font-size: 22px;
          line-height: 32px;
          margin-bottom: 35px; }
          @media only screen and (max-width: 520px) {
            #steps .wrap .steps-content p:first-of-type {
              font-size: 1.125rem;
              line-height: 1.75rem;
              margin-bottom: 25px; } }
        @media only screen and (max-width: 520px) {
          #steps .wrap .steps-content p {
            font-size: 0.875rem;
            line-height: 1.5rem; } }
    @media only screen and (max-width: 998px) {
      #steps .wrap {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center; } }
    @media only screen and (max-width: 768px) {
      #steps .wrap {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start; } }
  #steps .about_cnt_mrg {
    margin-bottom: 175px; }
    @media only screen and (max-width: 520px) {
      #steps .about_cnt_mrg {
        margin-bottom: 0; } }
  #steps .scroll-arrow {
    display: block;
    height: 41px;
    width: 15px;
    background: url("../images/misc/scroll-arrow-green.svg") center bottom/contain;
    animation: scroll-down 4s infinite linear forwards; }
  #steps .steps-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px; }
    #steps .steps-inner .step_left {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: start;
      justify-content: flex-start;
      width: 100%; }
      #steps .steps-inner .step_left .step-inner .step_img_f {
        position: absolute;
        top: -120px;
        left: -125px;
        z-index: 2; }
        @media only screen and (max-width: 1200px) {
          #steps .steps-inner .step_left .step-inner .step_img_f {
            left: 0;
            top: -200px; } }
        @media only screen and (max-width: 520px) {
          #steps .steps-inner .step_left .step-inner .step_img_f {
            position: relative;
            top: 0;
            margin-bottom: 30px; } }
      #steps .steps-inner .step_left .step-inner .step_img {
        position: absolute;
        top: -200px;
        left: -125px;
        z-index: 2; }
        @media only screen and (max-width: 1200px) {
          #steps .steps-inner .step_left .step-inner .step_img {
            left: 0; } }
        @media only screen and (max-width: 520px) {
          #steps .steps-inner .step_left .step-inner .step_img {
            position: relative;
            top: 0;
            margin-bottom: 30px; } }
      @media only screen and (max-width: 520px) {
        #steps .steps-inner .step_left .step-inner {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-align: start;
          align-items: flex-start; } }
    #steps .steps-inner .step_right {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
      justify-content: flex-end;
      width: 100%; }
      #steps .steps-inner .step_right .step-inner {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        #steps .steps-inner .step_right .step-inner .step_img {
          position: absolute;
          top: -200px;
          left: 65px;
          z-index: 2; }
          @media only screen and (max-width: 1200px) {
            #steps .steps-inner .step_right .step-inner .step_img {
              left: 0; } }
          @media only screen and (max-width: 520px) {
            #steps .steps-inner .step_right .step-inner .step_img {
              position: relative;
              top: 0;
              margin-bottom: 30px; } }
        @media only screen and (max-width: 520px) {
          #steps .steps-inner .step_right .step-inner {
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-align: start;
            align-items: flex-start; } }
    #steps .steps-inner .step-inner {
      max-width: 625px;
      width: 100%;
      position: relative; }
      #steps .steps-inner .step-inner .step_content {
        position: relative;
        z-index: 5;
        max-width: 450px;
        width: 100%; }
        #steps .steps-inner .step-inner .step_content h4 {
          font-family: "Bungee", cursive;
          font-size: 32px;
          color: #1F4B70;
          font-weight: 400; }
          @media only screen and (max-width: 520px) {
            #steps .steps-inner .step-inner .step_content h4 {
              font-size: 1.375rem;
              line-height: 1.375rem; } }
        #steps .steps-inner .step-inner .step_content p {
          font-size: 1rem; }
          @media only screen and (max-width: 520px) {
            #steps .steps-inner .step-inner .step_content p {
              font-size: 0.875rem;
              line-height: 1.5rem; } }
    #steps .steps-inner .line_hold {
      width: 520px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin: 40px 0; }
      @media only screen and (max-width: 998px) {
        #steps .steps-inner .line_hold {
          height: 140px; }
          #steps .steps-inner .line_hold .sep_line {
            display: none; } }
      @media only screen and (max-width: 520px) {
        #steps .steps-inner .line_hold {
          height: 5px;
          margin: 20px 0; } }
    @media only screen and (max-width: 1200px) {
      #steps .steps-inner {
        padding-left: 15px;
        padding-right: 15px; } }
    @media only screen and (max-width: 520px) {
      #steps .steps-inner {
        padding-top: 25px; } }
  @media only screen and (max-width: 998px) {
    #steps {
      padding: 75px 0; } }

#case_studies {
  background: linear-gradient(180deg, #4282a9 0%, #1f4b70 100%);
  padding-top: 125px;
  padding-bottom: 125px;
  position: relative; }
  #case_studies .casestudies_slider_wrap {
    position: relative;
    margin-right: -100px; }
    #case_studies .casestudies_slider_wrap .section_title {
      position: absolute;
      top: 0;
      font-family: "Bungee", cursive;
      font-size: 1.25rem;
      font-weight: 700;
      transform: rotate(-90deg);
      color: white;
      height: 155px;
      margin-left: -70px; }
      @media only screen and (max-width: 1455px) {
        #case_studies .casestudies_slider_wrap .section_title {
          position: relative;
          height: auto;
          margin-left: 0;
          transform: rotate(0); } }
      @media only screen and (max-width: 998px) {
        #case_studies .casestudies_slider_wrap .section_title {
          max-width: 730px;
          width: 100%;
          margin: 0 auto; } }
    #case_studies .casestudies_slider_wrap .custom_cscontrol_wrap {
      position: absolute;
      right: 100px;
      z-index: 5;
      max-width: 150px;
      width: 100%;
      margin-bottom: 50px; }
      #case_studies .casestudies_slider_wrap .custom_cscontrol_wrap .prev, #case_studies .casestudies_slider_wrap .custom_cscontrol_wrap .next {
        width: 100%;
        height: 50px;
        display: block;
        border: 1px solid #68C3CD;
        border-radius: 25px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 10px 0;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 1.41px;
        font-family: "europa", sans-serif;
        font-weight: 700; }
        #case_studies .casestudies_slider_wrap .custom_cscontrol_wrap .prev img, #case_studies .casestudies_slider_wrap .custom_cscontrol_wrap .next img {
          margin: 0 10px; }
      @media only screen and (max-width: 998px) {
        #case_studies .casestudies_slider_wrap .custom_cscontrol_wrap {
          display: none; } }
    #case_studies .casestudies_slider_wrap .item_wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #case_studies .casestudies_slider_wrap .item_wrapper .cs_content_wrap {
        max-width: 730px;
        width: 100%; }
        #case_studies .casestudies_slider_wrap .item_wrapper .cs_content_wrap h3 {
          font-size: 2rem;
          font-family: "Bungee", cursive;
          max-width: 605px;
          margin-bottom: 25px;
          color: #68C3CD; }
          @media only screen and (max-width: 520px) {
            #case_studies .casestudies_slider_wrap .item_wrapper .cs_content_wrap h3 {
              font-size: 1.375rem;
              line-height: 1.475rem; } }
        #case_studies .casestudies_slider_wrap .item_wrapper .cs_content_wrap p {
          margin-bottom: 25px; }
        #case_studies .casestudies_slider_wrap .item_wrapper .cs_content_wrap ul {
          margin: 20px 0;
          list-style-type: disc;
          list-style-position: inside; }
          #case_studies .casestudies_slider_wrap .item_wrapper .cs_content_wrap ul li ul {
            margin-left: 30px; }
      #case_studies .casestudies_slider_wrap .item_wrapper img.mobile_img {
        max-width: 400px;
        width: 100%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        border-radius: 30px;
        display: none; }
        @media only screen and (max-width: 998px) {
          #case_studies .casestudies_slider_wrap .item_wrapper img.mobile_img {
            display: block;
            margin: 40px auto; } }
        @media only screen and (max-width: 520px) {
          #case_studies .casestudies_slider_wrap .item_wrapper img.mobile_img {
            display: block;
            margin: 18px auto; } }
      #case_studies .casestudies_slider_wrap .item_wrapper img.desktop_img {
        max-width: 400px;
        width: 100%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        margin-top: 160px;
        border-radius: 30px; }
        @media only screen and (max-width: 998px) {
          #case_studies .casestudies_slider_wrap .item_wrapper img.desktop_img {
            display: none; } }
      @media only screen and (max-width: 998px) {
        #case_studies .casestudies_slider_wrap .item_wrapper {
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-align: center;
          align-items: center; } }
    @media only screen and (max-width: 998px) {
      #case_studies .casestudies_slider_wrap {
        margin-right: 0; } }
  @media only screen and (max-width: 520px) {
    #case_studies {
      padding-top: 35px;
      padding-bottom: 35px; } }

#our_modal {
  padding: 40px 15px; }
  #our_modal div {
    overflow: hidden; }
  #our_modal .title_area {
    height: 350px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto; }
    #our_modal .title_area h3 {
      font-size: 4.5rem;
      line-height: 4.5rem;
      font-family: "Bungee", cursive;
      color: #68C3CD;
      font-weight: 700; }
      @media only screen and (max-width: 1100px) {
        #our_modal .title_area h3 {
          max-width: 735px;
          width: 100%;
          padding-top: 40px; } }
    #our_modal .title_area .title_bg {
      position: absolute;
      left: 0;
      z-index: -1; }
      @media only screen and (max-width: 520px) {
        #our_modal .title_area .title_bg {
          margin-left: -180px; } }
    #our_modal .title_area .opening_content {
      max-width: 735px;
      width: 100%; }
      #our_modal .title_area .opening_content p {
        margin-bottom: 20px;
        color: #1F4B70; }
    @media only screen and (max-width: 1100px) {
      #our_modal .title_area {
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media only screen and (max-width: 520px) {
      #our_modal .title_area {
        margin-bottom: 25px; } }
  #our_modal .modal_caro_wrap {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 100px 0; }
    #our_modal .modal_caro_wrap .modal_slider_wrap {
      max-width: 1000px;
      width: 100%;
      position: relative;
      overflow: visible; }
      #our_modal .modal_caro_wrap .modal_slider_wrap .custom_modcontrol_wrap .nextmod {
        background: transparent;
        border: 1px solid #68C3CD;
        border-radius: 25px;
        color: #1F4B70;
        text-transform: uppercase;
        font-family: "europa", sans-serif;
        font-size: 0.75rem;
        position: absolute;
        right: -40px;
        top: 50%;
        z-index: 20;
        height: 50px;
        width: 145px;
        padding: 0 20px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer; }
        @media only screen and (max-width: 1100px) {
          #our_modal .modal_caro_wrap .modal_slider_wrap .custom_modcontrol_wrap .nextmod {
            right: 40px; } }
        @media only screen and (max-width: 935px) {
          #our_modal .modal_caro_wrap .modal_slider_wrap .custom_modcontrol_wrap .nextmod {
            display: none; } }
      #our_modal .modal_caro_wrap .modal_slider_wrap .custom_modcontrol_wrap .prevmod {
        background: transparent;
        border: 1px solid #68C3CD;
        border-radius: 25px;
        color: #1F4B70;
        text-transform: uppercase;
        font-family: "europa", sans-serif;
        font-size: 0.75rem;
        position: absolute;
        left: -40px;
        top: 50%;
        z-index: 20;
        height: 50px;
        width: 145px;
        padding: 0 20px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer; }
        @media only screen and (max-width: 1100px) {
          #our_modal .modal_caro_wrap .modal_slider_wrap .custom_modcontrol_wrap .prevmod {
            left: 40px; } }
        @media only screen and (max-width: 935px) {
          #our_modal .modal_caro_wrap .modal_slider_wrap .custom_modcontrol_wrap .prevmod {
            display: none; } }
      #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro {
        width: 100%; }
        #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center; }
          #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .sidearea_left {
            background: white;
            opacity: 0.5;
            width: 240px;
            height: 415px;
            border-radius: 20px;
            margin-right: -50px; }
            @media only screen and (max-width: 935px) {
              #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .sidearea_left {
                display: none; } }
          #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .content_main {
            background-color: white;
            color: black;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-direction: column;
            flex-direction: column;
            position: relative;
            text-align: center;
            z-index: 10;
            max-width: 545px;
            width: 100%;
            height: 510px;
            border-radius: 20px; }
            #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .content_main .content {
              max-width: 430px;
              width: 100%; }
              #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .content_main .content .currentnum {
                font-size: 4.5rem;
                line-height: 4.5rem;
                font-family: "Bungee", cursive;
                color: #68C3CD;
                text-shadow: 4px 3px 0px #fff, 6px 5px 0px #68C3CD; }
              #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .content_main .content h5 {
                font-size: 2rem;
                line-height: 2rem;
                margin: 20px 0;
                font-family: "Bungee", cursive;
                color: #1F4B70; }
                @media only screen and (max-width: 520px) {
                  #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .content_main .content h5 {
                    font-size: 22px;
                    line-height: 22px; } }
              #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .content_main .content p {
                color: #1F4B70;
                font-size: 1rem;
                line-height: 1.75rem; }
                @media only screen and (max-width: 520px) {
                  #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .content_main .content p {
                    font-size: 14px;
                    line-height: 24px; } }
              @media only screen and (max-width: 520px) {
                #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .content_main .content {
                  padding: 0 15px; } }
          #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .sidearea_right {
            background: white;
            opacity: 0.5;
            width: 240px;
            height: 415px;
            border-radius: 20px;
            margin-left: -50px; }
            @media only screen and (max-width: 935px) {
              #our_modal .modal_caro_wrap .modal_slider_wrap .our_mod_caro .item .sidearea_right {
                display: none; } }
      #our_modal .modal_caro_wrap .modal_slider_wrap .owl-dots .owl-dot span {
        background: #1F4B70; }
      #our_modal .modal_caro_wrap .modal_slider_wrap .owl-dots .active span {
        background: #68C3CD !important; }
    @media only screen and (max-width: 520px) {
      #our_modal .modal_caro_wrap {
        padding: 100px 15px; } }

#contact_us {
  min-height: 70vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  #contact_us #particles-js2 {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    bottom: 0; }
  #contact_us .cfinfo-inner {
    width: 100%;
    height: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    z-index: 10; }
    #contact_us .cfinfo-inner .wrap {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 100%; }
      @media only screen and (max-width: 520px) {
        #contact_us .cfinfo-inner .wrap .contact_title {
          max-width: 260px; } }
      #contact_us .cfinfo-inner .wrap .contact_info {
        max-width: 460px;
        width: 100%;
        font-family: "europa", sans-serif; }
        #contact_us .cfinfo-inner .wrap .contact_info p {
          margin-bottom: 25px; }
        #contact_us .cfinfo-inner .wrap .contact_info .contact_deets {
          margin-bottom: 25px; }
        #contact_us .cfinfo-inner .wrap .contact_info .social_icons {
          display: -ms-flexbox;
          display: flex; }
          #contact_us .cfinfo-inner .wrap .contact_info .social_icons .icon_wrap {
            border: 1px solid #68C3CD;
            color: #68C3CD;
            font-size: 22px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 10px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center; }
        @media only screen and (max-width: 998px) {
          #contact_us .cfinfo-inner .wrap .contact_info {
            max-width: 520px;
            margin-bottom: 40px; } }
      #contact_us .cfinfo-inner .wrap .contact_formm {
        max-width: 520px;
        width: 100%; }
      @media only screen and (max-width: 998px) {
        #contact_us .cfinfo-inner .wrap {
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-pack: center;
          justify-content: center; } }

/* Components Payload
================================================ */
.error404__content {
  padding: 100px 0 150px;
  text-align: center; }
  .error404__content h1 {
    font-size: 7em;
    color: #1F4B70;
    line-height: 170px;
    margin-bottom: 30px; }

.upper-section {
  background-image: linear-gradient(-180deg, #4282A9 0%, #1F4B70 53%, #4282A9 100%); }

/*# sourceMappingURL=style.css.map */
