body {
	overflow-x: hidden;
	background-color: $fugo_grey;
}
.noscroller {
	overflow: hidden;
}
.wrap {
	max-width: 1330px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}


*:focus {outline:none !important}

.title {
	position: relative;

	.slash-inner {
		fill: none;
		stroke: $secondary;
		stroke-miterlimit: 10;
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		will-change: stroke;
		animation: dash 5s linear forwards;
	}

	.text-path {
		stroke: $secondary;
		stroke-miterlimit: 10;
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 5s linear forwards;
		will-change: stroke;
	}

	.slash {
		top: -290px;
		left: -350px;
		position: absolute;
	}

}

#content {
	.wrap {
		padding-top:60px;
		padding-bottom: 60px;
		p {
			color: $primary;
			margin-bottom:25px;
		}
	}
}
