#header_bar {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	padding: 45px 0 0 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform : translate3d(0, 0, 0);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transform:  0.5s all;
	-o-transform:  0.5s all;

	.logo {
		height: 65px;
		width: 145px;
		background: url('../images/misc/logo.svg') center / contain no-repeat;
		display: block;
		text-indent: -999999px;
		margin-right: auto;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transform:  0.5s all;
		-o-transform:  0.5s all;
	}

	.wrap {
		display: flex;
		align-items: center;
	}
	@media screen and (max-width: 520px) {
		padding:15px 0 0 0;
	}
}

.collapse_inn {
	background-color: $primary;
	padding:0 !important;
	height: 70px;
	display: flex;
	align-items: center;
	.logo {
		height: 45px !important;
		width: 105px !important;
		background: url('../images/misc/logo.svg') center / contain no-repeat;
		display: block;
		text-indent: -999999px;
		margin-right: auto;
	}
}
