#pdf_downloader {
  position: fixed;
  right:15px;
  bottom:15px;
  background-color: $secondary;
  max-width:280px;
  width:100%;
  height:150px;
  border-radius: 25px;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transform:  0.5s all;
  -o-transform:  0.5s all;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding:25px;
  font-family: $font-default;
  p {
    font-size:1rem;
    @media screen and (max-width: 520px) {
      font-size:14px;
    }
  }
  .pdf_close_icon {
    position: absolute;
    top:20px;
    right:20px;
    cursor: pointer;
    .fas {
      font-size:1.125rem;
    }
    @media screen and (max-width: 520px) {
      top:16px;
      right:16px;
    }
  }
  .pdf_btn {
    border:1px solid white;
    padding:10px 25px;
    margin-top:20px;
    border-radius: 25px;
    font-size:0.9125rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transform:  0.5s all;
    -o-transform:  0.5s all;
    @media screen and (max-width: 520px) {
      font-size:14px;
      letter-spacing: 2px;
    }
    &:hover {
      background-color: $primary;
    }
  }
  @media screen and (max-width: 520px) {
    right:8px;
    bottom:8px;
    max-width:260px;
    height:140px;
  }
}
.pdf_vis {
  visibility: visible !important;
  opacity: 1 !important;
}

.pdf_hider {
  display:none !important;
}
