.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	background: $secondary;
	border-radius: 25px;
	transition: 500ms all;
	border: 2px solid $secondary;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 30px;
	padding: 0 25px;

	&:hover {
		background: none;
		border: 2px solid $secondary;
	}

	&.transparent {
		background: none;
		border-color: #FFF;

		&:hover {
			background: $secondary;
			border-color: $secondary;
		}
	}
}
