.button_container {
  position: fixed;
  display: none;
  // height: 35px;
  width: 40px;
  cursor: pointer;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
  right:40px;
  top:35px;
  z-index:505;
  font-weight:700;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transform:  0.5s all;
  -o-transform:  0.5s all;
  &:hover {
    color:$secondary;
  }
  &.active {
    span {
      &:before {
        content:'';
        visibility: hidden;
        opacity: 0;
      }
    }
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: red;
    }
    .middle {
      opacity: 0;
      left:-50px;
      background: red;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: red;
    }
    &:before {
      content:'';
      display: none;
    }
  }
  span {
    &:before {
      content:'';
      height: 4px;
      width: 4px;
      background: red;
      z-index: 99;
      position: absolute;
      left: -8px;
      visibility: visible;
      opacity: 1;
    }
    background: red;
    border: none;
    height: 4px;
    width: 40px;
    position: absolute;
    // toggle alignment
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    transition:  all .35s ease;
    cursor: pointer;
    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
  @media screen and (max-width: 998px) {
    display: block;
  }
}
.top_pos_chng {
  top:25px;
}
#mob_overlay {
  width: 100%;
  background-color: $primary;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 90;
  right: 0;
  padding:50px 0;
  bottom: 0;
  top:0;
  overflow:hidden;
  -webkit-transition: all .65s ease;
  -moz-transition: all .65s ease;
  -o-transition: all .65s ease;
  transition: all .65s ease;
  z-index:500;
  &.hamburger_open {
    opacity: 1;
    visibility: visible;
    right: 0;
    width:100%;
  }
  .mob_content {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100vh;
    width:100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
  		height: 65px;
  		width: 145px;
  		background: url('../images/misc/logo.svg') center / contain no-repeat;
  		text-indent: -999999px;
  		transition: 0.5s all;
  		-webkit-transition: 0.5s all;
  		-moz-transform:  0.5s all;
  		-o-transform:  0.5s all;
      margin-bottom: 30px;
  	}
    nav {
      max-width:210px;
      width:100%;
      text-align: center;
      li {
        margin-bottom:20px;
      }
    }
  }
  #menu-header-menu-1 {
    text-align:center;
    margin-top:120px;
    li {
      color:white;
      font-weight:700;
      font-size:1.4rem;
      padding:8px 0 4px 0;
      .sub-menu {
        li {
          font-size:1rem;
          font-weight:400;
        }
      }
    }
    @media screen and (max-width: 998px) {
      margin-top:100px;
    }
    @media screen and (max-width: 768px) {
      margin-top:80px;
    }
  }
  @media screen and (min-width: 998px) {
    display: none;
  }
}
