@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url("https://use.typekit.net/ica8fcf.css");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font stacks
================================================ */
  $font-default: 'europa', sans-serif;
  $font-heading: 'Bungee', cursive;

/* Base Typography
================================================ */

  body {
  	font-family: $font-default;
  	font-size: 16px;
  	line-height: 1.5;
  	color: $text;
  }
  ul {
    font-family: $font-default;
  }




/* Links
================================================ */
a, a:visited {
	color: inherit;
	text-decoration: none;
}

/* Font Face Imports
================================================ */

  /*  @font-face {
		font-family: 'Font Name';
		src: url('assets/fonts/font-name.eot');
		src: url('assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
			   url('assets/fonts/font-name.woff') format('woff'),
			   url('assets/fonts/font-name.ttf') format('truetype'),
			   url('assets/fonts/font-name.svg#font-name') format('svg');
		font-weight: normal;
		font-style: normal;
	}
  */
