.wpcf7 {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea
  {
  	background-color: #fff;
  	color: #000;
  	width: 100%;
    margin:10px 0;
    border-radius: 10px;
    padding:15px 10px;
    border:0;

    -webkit-appearance: none;
  }
  textarea {
    height:100px;
  }
}

.submit_cf7 {
  background-color: $secondary;
  width:145px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:0;
  border-radius: 25px;
  color: white;
  font-family: $font-default;
  text-transform: uppercase;
  font-size:0.875rem;
  font-weight:700;

  -webkit-appearance: none;
  @media only screen and (max-width : 520px) {
    width:100%
  }
}
