span.wpcf7-not-valid-tip {
    display: block;
    right: 0;
    color: red;
    background-color: inherit;
    text-align: right;
    border: 0;
    margin-top: -58px;
    padding: 15px;
    font-weight: 400;
    font-family: $font-default;
    font-size: 15px;
    width: 200px;
    float: right;
    z-index: 2;
    position: relative;
}
